[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
pytest = "*"
sympy = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "*"
