[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
pytest = "*"
pyyaml = "*"
lark = "*"

[dev-packages]

[requires]
python_version = "3.10"
